body {
  font-family: TimesNewRoman;
  background-color: black;
}

p {
  align="center" ;
  display:inline-block;
}

.mindhouse {
   font-weight: bold;
   color: white;
}

.skills {
  padding:20px;
  border: 1px solid black;
  color: blue;
  background-color:white;
}

.lifespan {
  padding:20px;
  border: 1px solid black;
  color: blue;
  background-color:white;
}

.money{
  margin:20px;
  border:20px;
  padding:20px;
}

.love{
  padding:20px;
  border: 1px solid black;
  color: blue;
  background-color:white;
}

.trippy{
  padding:20px;
  border: 1px solid black;
  color: green;
  background-color:white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
