body {
  font-family: Futara;
  background-color: white;
}

p {
  align="center" ;
}

.mindhouse {
   background-color: blue;
   color: white;
}

.skills {
   background-color: red;
   color: white;
}

