body {
  font-family: Futara;
  background-color: white;
}

p {
  align="center" ;
  display:inline-block;
}

.mindhouse {
   background-color: blue;
   color: white;
}

.skills {
  padding:20px;
  width:250px;
  height:250px;
  border: 1px solid black;
  color: blue;
}

.lifespan {
  padding:20px;
  width:250px;
  height:250px;
  border: 1px solid black;
  color: blue;
}

.money{
  margin:20px;
  border:20px;
  padding:20px;
}
.trippy{
  padding:20px;
  width:250px;
  height:250px;
  border: 1px solid black;
  color: blue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
